<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>XYZEmailer</display-name>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServlet</display-name>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentServlet</display-name>
    <servlet-name>SentServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.SentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentServlet</servlet-name>
    <url-pattern>/sent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComposeServlet</display-name>
    <servlet-name>ComposeServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.ComposeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeServlet</servlet-name>
    <url-pattern>/compose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DraftServlet</display-name>
    <servlet-name>DraftServlet</servlet-name>
    <servlet-class>com.xyzemailer.controller.DraftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DraftServlet</servlet-name>
    <url-pattern>/draft</url-pattern>
  </servlet-mapping>
</web-app>